@model ViewModelActionWithViewModel
@{
    ViewData["Title"] = "Model";
}

<h1>Model</h1>
<div class="row">
    <div class="col">@Model.Personne.Nom</div>
    <div class="col">@Model.Personne.Prenom</div>
</div>
@foreach(Personne p in Model.ListePersonnes)
{
<div class="row">
    <div class="col">
        @p.Nom
    </div>
    <div class="col">
        @p.Prenom
    </div>
</div>
}

