@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row menu">
        <div class="col">
            <a asp-controller="Ajax" asp-action="First">Lien 1</a>
        </div>
        <div class="col">
            <a asp-controller="Ajax" asp-action="Second">Lien 2</a>
        </div>
    </div>
    <div class="row">
        <div class="col result">

        </div>
    </div>
</div>

